@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
@import "tailwindcss";
@import "swiper/css";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: oklch(0 0 0); /* also in index */
  --foreground: oklch(92% 0.004 286.32);
  --card: oklch(37.1% 0 0);
  --border: oklch(92% 0.004 286.32);
  --primary: oklch(92% 0.004 286.32);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

html {
  min-height: 100dvh;
  height: 100dvh;
  min-width: 100dvw;
  width: 100dvw;
  overscroll-behavior: none;
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
